@import "~antd/dist/antd.dark.min.css";

html {
  font-family: Helvetica -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  min-height: 100vh;
  word-wrap: break-word;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #625FF6 !important;
}

header {
  width: 100%;
  height: 4.2rem;
  position: absolute;
  top: 0;
  left: 0;
  background: #24252B;
  color: #DBDBDB;
}

header > div > div > a {
  color: #DBDBDB !important;
}

main {
  color: #FFFFFF;
  padding-top: 60px;
}

footer {
  color: #FFFFFF;
}

.ant-input {
  background-color: #222529;
}

.ant-card {
  background-color: #222529;
}

.ant-btn {
  color: #625FF6;
  border-color: #625FF6;
}

.ant-btn:hover {
  color: #625FF6;
  border-color: #625FF6;
}

.ant-btn-primary {
  color: #FFFFFF;
  border-color: #625FF6;
  background-color: #625FF6;
}

.ant-btn-primary:hover {
  background-color: #625FF6;
  color: #FFFFFF;
}

@font-face {
  font-family: 'iconfont';  /* Project id 3006638 */
  src: url('//at.alicdn.com/t/font_3006638_u3btl3fhfb.woff2?t=1640417665871') format('woff2'),
  url('//at.alicdn.com/t/font_3006638_u3btl3fhfb.woff?t=1640417665871') format('woff'),
  url('//at.alicdn.com/t/font_3006638_u3btl3fhfb.ttf?t=1640417665871') format('truetype');
}
