.opener {
  text-align: center;
  font-family: Helvetica;
}

.headerImg {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
}

.rewardTitle {
  font-weight: 700;
  font-size: 2.25rem;
  text-shadow: 0 0 7px #EFB336;
  margin-top: 3rem;
}

.rewardDesc {
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  text-shadow: 0 0 7px #EFB336;
  margin-top: 14px;
}

.bigTitle {
  margin-top: 6rem;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 0 0 20px #E9357C;
}

.desc {
  max-width: 700px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.625rem;
}

.ruleTitle {
  margin-top: 2.875rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.ruleQuestion {
  margin-top: 2.6rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.ruleDesc {
  margin-top: 2.6rem;
  font-size: 14px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  line-height: 2.0625rem;
}
