.profile {
  min-height: calc(100vh - 9.9rem);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5.625rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.form {
  margin-top: 100px;
}

.form > div > div > label {
  font-size: 1.125rem;
  color: #FFFFFF;
  font-weight: 700;
}
